{% extends 'base.html.twig' %}

{% block meta %}
    <meta name="description" content="{{ 'homepage'|trans({}, 'meta_description')|raw }}">
{% endblock %}

{% block hreflang %}
    <link rel="alternate" href="{{ protocol }}hr{{ prod_url }}" hreflang="hr"/>
    <link rel="alternate" href="{{ protocol }}en{{ prod_url }}" hreflang="en-gb"/>
    <link rel="alternate" href="{{ protocol }}it{{ prod_url }}" hreflang="it"/>
    <link rel="alternate" href="{{ protocol }}de{{ prod_url }}" hreflang="de"/>
{% endblock %}

{% block title %}
    {{ 'title'|trans({}, 'homepage') }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}
    <h1 class="text-center bg-light p-2">
            <span class="upper">
                {{ 'welcome'|trans({}, 'homepage') }}
            </span>
        <img id="logo" src="{{ asset('icons/logo.png') }}" alt="logo">
    </h1>
    <div class="container text-center">
        <div class="img-wrapper">
            <img src="{{ asset('images/slika_0.jpg') }}" alt="">
        </div>
    </div>
{% endblock %}
