{% extends 'base.html.twig' %}

{% block meta %}
<meta name="description"
      content="Dobrodošli na službenu stranicu Pansiona Babić - Novska. Radujemo se što ćete biti naši gosti.">
{% endblock %}

{% block title %}
    {{ 'title'|trans({}, 'homepage')}}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}
        <h1 class="text-center bg-light p-2">
            <span class="upper">
                {{ 'welcome'|trans({}, 'homepage')}}
            </span>
            <img id="logo" src="{{ asset('icons/logo.png') }}" alt="logo">
        </h1>
        <div class="container text-center">
            <div class="img-wrapper">
                <img src="{{ asset('images/slika_0.jpg') }}" alt="">
            </div>
        </div>
{% endblock %}
