<nav class="navbar navbar-expand-lg navbar-light bg-light p-2">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarToggler" aria-controls="navbarToggler"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand upper" href="{{ path('homepage') }}">
        <img class="mr-2" id="logo"
             src="{{ asset('icons/logo.png') }}" alt="logo">
        {{ 'navbar-brand'|trans({}, 'navigation') }}
    </a>
    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item upper">
                <a class="nav-link" href="{{ path('gallery') }}">
                    {{ 'gallery'|trans({}, 'navigation') }}
                </a>
            </li>
            <li class="nav-item upper">
                <a class="nav-link" href="{{ path('booking') }}">
                    {{ 'booking'|trans({}, 'navigation') }}
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown-language" role="button"
                   data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if app.request.locale is same as 'hr' %}
                        <img class="nav_icon"
                             src="{{ asset('icons/croatia.png') }}" alt="icon">
                        {{ 'croatian'|trans({}, 'navigation') }}
                    {% elseif  app.request.locale is same as 'en' %}
                        <img class="nav_icon"
                             src="{{ asset('icons/united-kingdom.png') }}" alt="icon">
                        {{ 'english'|trans({}, 'navigation') }}
                    {% elseif  app.request.locale is same as 'it' %}
                        <img class="nav_icon"
                             src="{{ asset('icons/italy.png') }}" alt="icon">
                        {{ 'italian'|trans({}, 'navigation') }}
                    {% elseif  app.request.locale is same as 'de' %}
                        <img class="nav_icon"
                             src="{{ asset('icons/germany.png') }}" alt="icon">
                        {{ 'german'|trans({}, 'navigation') }}
                    {% endif %}
                </a>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-language">
                    <li>
                        <a class="dropdown-item" href="{{ path(app.request.attributes.get('_route'), {_locale: 'hr'}) }}">
                            <img class="nav_icon"
                                 src="{{ asset('icons/croatia.png') }}" alt="icon">
                            {{ 'croatian'|trans({}, 'navigation') }}
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{{ path(app.request.attributes.get('_route'), {_locale: 'en'}) }}">
                            <img class="nav_icon"
                                 src="{{ asset('icons/united-kingdom.png') }}" alt="icon">
                            {{ 'english'|trans({}, 'navigation') }}
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{{ path(app.request.attributes.get('_route'), {_locale: 'it'}) }}">
                            <img class="nav_icon"
                                 src="{{ asset('icons/italy.png') }}" alt="icon">
                            {{ 'italian'|trans({}, 'navigation') }}
                        </a>
                    </li>
                    <li>

                        <a class="dropdown-item" href="{{ path(app.request.attributes.get('_route'), {_locale: 'de'}) }}">
                            <img class="nav_icon"
                                 src="{{ asset('icons/germany.png') }}" alt="icon">
                            {{ 'german'|trans({}, 'navigation') }}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
