<footer class="bg-light text-center mt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 my-auto">
                <img src="{{ asset('images/icons/logo.png') }}" alt="logo"><br>
                <i>
                    {{ 'copyright'|trans({}, 'footer') }} © {{ "now"|date("Y") }}.
                </i><br>
                <div class="icons mt-2 mb-2">
                    <i class="fa-solid fa-square-parking"></i>
                    <i class="fa-regular fa-envelope"></i>
                    <i class="fa-solid fa-wifi"></i>
                </div>
            </div>
            <div class="col-sm-4 my-auto">
                <h3 class="mb-3 heading upper">
                    {{ 'heading'|trans({}, 'footer') }}
                </h3>
                <p>
                    {{ 'telephone'|trans({}, 'footer') }}:
                    <a href="tel:+385 44 601 756">
                        +385 44 601 756
                    </a>
                </p>
                <p>
                    {{ 'mobile'|trans({}, 'footer') }}:
                    <a href="tel:+385 92 2473370">
                        +385 92 247 3370
                    </a>
                    (Mario)
                </p>
                <p>
                    {{ 'mobile'|trans({}, 'footer') }}:
                    <a href="tel:+385 92 2473370">
                        +385 91 755 8309
                    </a>
                    (Vlatka)
                </p>
                <p>
                    E-mail: <a href="mailto:pansion.babic@gmail.com">
                        pansion.babic@gmail.com
                    </a>
                </p>
                <div class="icons">
                    <a href="https://www.facebook.com/profile.php?id=100072567254177"
                       target="_blank" title="Facebook">
                        <i class="fab fa-facebook mr-2"></i>
                    </a>
                </div>
            </div>
            <div class="col-sm-4">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d44882.2156949316!2d16.967396!3d45.325826!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3fccf8e111a3ce5a!2spansion-babi%C4%87-novska%20hrvatska%2044330%20novska%20ul.%20kralja%20T%20omislava%20201va!5e0!3m2!1shr!2sus!4v1657814478090!5m2!1shr!2sus"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
</footer>
