{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title'|trans({}, 'gallery')}}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/script.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/gallery.css') }}">
{% endblock %}

{% block body %}
    <h2 class="text-center bg-light p-2 mb-3">
        {{ 'heading'|trans({}, 'gallery')}}
        <img id="logo" src="{{ asset('icons/gallery.jpeg') }}" alt="logo">
    </h2>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 mb-2">
                <div class="img-wrapper">
                    <a href="{{ asset('images/slika_0.jpg') }}" target="_blank"
                    title="{{ 'img_title'|trans({}, 'gallery')}}">
                        <img src="{{ asset('images/slika_0.jpg') }}" alt="photo">
                    </a>
                </div>
            </div>
            <div class="col-sm-3 mb-2">
                <div class="img-wrapper">
                    <a href="{{ asset('images/slika_2.jpg') }}" target="_blank"
                       title="{{ 'img_title'|trans({}, 'gallery')}}">
                        <img src="{{ asset('images/slika_2.jpg') }}" alt="photo">
                    </a>
                </div>
            </div>
            <div class="col-sm-3 mb-2">
                <div class="img-wrapper">
                    <a href="{{ asset('images/slika_7.jpg') }}" target="_blank"
                       title="{{ 'img_title'|trans({}, 'gallery')}}">
                        <img src="{{ asset('images/slika_7.jpg') }}" alt="photo">
                    </a>
                </div>
            </div>
            <div class="col-sm-3 mb-2">
                <div class="img-wrapper">
                    <a href="{{ asset('images/slika_8.jpg') }}" target="_blank"
                       title="{{ 'img_title'|trans({}, 'gallery')}}">
                        <img src="{{ asset('images/slika_8.jpg') }}" alt="photo">
                    </a>
                </div>
            </div>
            <div class="col-sm-3 mb-2">
                <div class="img-wrapper">
                    <a href="{{ asset('images/slika_9.jpg') }}" target="_blank"
                       title="{{ 'img_title'|trans({}, 'gallery')}}">
                        <img src="{{ asset('images/slika_9.jpg') }}" alt="photo">
                    </a>
                </div>
            </div>
            <div class="col-sm-3 mb-2">
                <div class="img-wrapper">
                    <a href="{{ asset('images/slika_10.jpg') }}" target="_blank"
                       title="{{ 'img_title'|trans({}, 'gallery')}}">
                        <img src="{{ asset('images/slika_10.jpg') }}" alt="photo">
                    </a>
                </div>
            </div>
            <div class="col-sm-3 mb-2">
                <div class="img-wrapper">
                    <a href="{{ asset('images/slika_11.jpg') }}" target="_blank"
                       title="{{ 'img_title'|trans({}, 'gallery')}}">
                        <img src="{{ asset('images/slika_11.jpg') }}" alt="photo">
                    </a>
                </div>
            </div>
            <div class="col-sm-3 mb-2">
                <div class="img-wrapper">
                    <a href="{{ asset('images/slika_12.jpg') }}" target="_blank"
                       title="{{ 'img_title'|trans({}, 'gallery')}}">
                        <img src="{{ asset('images/slika_12.jpg') }}" alt="photo">
                    </a>
                </div>
            </div>
            <div class="col-sm-3 mb-2">
                <div class="img-wrapper">
                    <a href="{{ asset('images/slika_17.jpg') }}" target="_blank"
                       title="{{ 'img_title'|trans({}, 'gallery')}}">
                        <img src="{{ asset('images/slika_17.jpg') }}" alt="photo">
                    </a>
                </div>
            </div>
            <div class="col-sm-3 mb-2">
                <div class="img-wrapper">
                    <a href="{{ asset('images/slika_18.jpg') }}" target="_blank"
                       title="{{ 'img_title'|trans({}, 'gallery')}}">
                        <img src="{{ asset('images/slika_18.jpg') }}" alt="photo">
                    </a>
                </div>
            </div>
            <div class="col-sm-3 mb-2">
                <div class="img-wrapper">
                    <a href="{{ asset('images/slika_21.jpg') }}" target="_blank"
                       title="{{ 'img_title'|trans({}, 'gallery')}}">
                        <img src="{{ asset('images/slika_21.jpg') }}" alt="photo">
                    </a>
                </div>
            </div>
            <div class="col-sm-3 mb-2">
                <div class="img-wrapper">
                    <a href="{{ asset('images/slika_25.jpg') }}" target="_blank"
                       title="{{ 'img_title'|trans({}, 'gallery')}}">
                        <img src="{{ asset('images/slika_25.jpg') }}" alt="photo">
                    </a>
                </div>
            </div>
            <div class="col-sm-3 mb-2">
                <div class="img-wrapper">
                    <a href="{{ asset('images/slika_26.jpg') }}" target="_blank"
                       title="{{ 'img_title'|trans({}, 'gallery')}}">
                        <img src="{{ asset('images/slika_26.jpg') }}" alt="photo">
                    </a>
                </div>
            </div>
            <div class="col-sm-3 mb-2">
                <div class="img-wrapper">
                    <a href="{{ asset('images/slika_30.jpg') }}" target="_blank"
                       title="{{ 'img_title'|trans({}, 'gallery')}}">
                        <img src="{{ asset('images/slika_30.jpg') }}" alt="photo">
                    </a>
                </div>
            </div>
            <div class="col-sm-3 mb-2">
                <div class="img-wrapper">
                    <a href="{{ asset('images/slika_37.jpg') }}" target="_blank"
                       title="{{ 'img_title'|trans({}, 'gallery')}}">
                        <img src="{{ asset('images/slika_37.jpg') }}" alt="photo">
                    </a>
                </div>
            </div>
            <div class="col-sm-3 mb-2">
                <div class="img-wrapper">
                    <a href="{{ asset('images/slika_39.jpg') }}" target="_blank"
                       title="{{ 'img_title'|trans({}, 'gallery')}}">
                        <img src="{{ asset('images/slika_39.jpg') }}" alt="photo">
                    </a>
                </div>
            </div>
            <div class="col-sm-3 mb-2">
                <div class="img-wrapper">
                    <a href="{{ asset('images/slika_40.jpg') }}" target="_blank"
                       title="{{ 'img_title'|trans({}, 'gallery')}}">
                        <img src="{{ asset('images/slika_40.jpg') }}" alt="photo">
                    </a>
                </div>
            </div>
            <div class="col-sm-3 mb-2">
                <div class="img-wrapper">
                    <a href="{{ asset('images/slika_43.jpg') }}" target="_blank"
                       title="{{ 'img_title'|trans({}, 'gallery')}}">
                        <img src="{{ asset('images/slika_43.jpg') }}" alt="photo">
                    </a>
                </div>
            </div>
            <div class="col-sm-3 mb-2">
                <div class="img-wrapper">
                    <a href="{{ asset('images/slika_45.jpg') }}" target="_blank"
                       title="{{ 'img_title'|trans({}, 'gallery')}}">
                        <img src="{{ asset('images/slika_45.jpg') }}" alt="photo">
                    </a>
                </div>
            </div>
            <div class="col-sm-3 mb-2">
                <div class="img-wrapper">
                    <a href="{{ asset('images/slika_48.jpg') }}" target="_blank"
                       title="{{ 'img_title'|trans({}, 'gallery')}}">
                        <img src="{{ asset('images/slika_48.jpg') }}" alt="photo">
                    </a>
                </div>
            </div>
            <div class="col-sm-3 mb-2">
                <div class="img-wrapper">
                    <a href="{{ asset('images/slika_14.jpg') }}" target="_blank"
                       title="{{ 'img_title'|trans({}, 'gallery')}}">
                        <img src="{{ asset('images/slika_14.jpg') }}" alt="photo">
                    </a>
                </div>
            </div>
            <div class="col-sm-3 mb-2">
                <div class="img-wrapper">
                    <a href="{{ asset('images/slika_15.jpg') }}" target="_blank"
                       title="{{ 'img_title'|trans({}, 'gallery')}}">
                        <img src="{{ asset('images/slika_15.jpg') }}" alt="photo">
                    </a>
                </div>
            </div>
            <div class="col-sm-3 mb-2">
                <div class="img-wrapper">
                    <a href="{{ asset('images/slika_16.jpg') }}" target="_blank"
                       title="{{ 'img_title'|trans({}, 'gallery')}}">
                        <img src="{{ asset('images/slika_16.jpg') }}" alt="photo">
                    </a>
                </div>
            </div>
            <div class="col-sm-3 mb-2">
                <div class="img-wrapper">
                    <a href="{{ asset('images/slika_19.jpg') }}" target="_blank"
                       title="{{ 'img_title'|trans({}, 'gallery')}}">
                        <img src="{{ asset('images/slika_19.jpg') }}" alt="photo">
                    </a>
                </div>
            </div>
            <div class="col-sm-3 mb-2">
                <div class="img-wrapper">
                    <a href="{{ asset('images/slika_20.jpg') }}" target="_blank"
                       title="{{ 'img_title'|trans({}, 'gallery')}}">
                        <img src="{{ asset('images/slika_20.jpg') }}" alt="photo">
                    </a>
                </div>
            </div>
            <div class="col-sm-3 mb-2">
                <div class="img-wrapper">
                    <a href="{{ asset('images/slika_32.jpg') }}" target="_blank"
                       title="{{ 'img_title'|trans({}, 'gallery')}}">
                        <img src="{{ asset('images/slika_32.jpg') }}" alt="photo">
                    </a>
                </div>
            </div>
            <div class="col-sm-3 mb-2">
                <div class="img-wrapper">
                    <a href="{{ asset('images/slika_33.jpg') }}" target="_blank"
                       title="{{ 'img_title'|trans({}, 'gallery')}}">
                        <img src="{{ asset('images/slika_33.jpg') }}" alt="photo">
                    </a>
                </div>
            </div>
            <div class="col-sm-3 mb-2">
                <div class="img-wrapper">
                    <a href="{{ asset('images/slika_34.jpg') }}" target="_blank"
                       title="{{ 'img_title'|trans({}, 'gallery')}}">
                        <img src="{{ asset('images/slika_34.jpg') }}" alt="photo">
                    </a>
                </div>
            </div>
            <div class="col-sm-3 mb-2">
                <div class="img-wrapper">
                    <a href="{{ asset('images/slika_35.jpg') }}" target="_blank"
                       title="{{ 'img_title'|trans({}, 'gallery')}}">
                        <img src="{{ asset('images/slika_35.jpg') }}" alt="photo">
                    </a>
                </div>
            </div>
            <div class="col-sm-3 mb-2">
                <div class="img-wrapper">
                    <a href="{{ asset('images/slika_44.jpg') }}" target="_blank"
                       title="{{ 'img_title'|trans({}, 'gallery')}}">
                        <img src="{{ asset('images/slika_44.jpg') }}" alt="photo">
                    </a>
                </div>
            </div>
            <div class="col-sm-3 mb-2">
                <div class="img-wrapper">
                    <a href="{{ asset('images/slika_46.jpg') }}" target="_blank"
                       title="{{ 'img_title'|trans({}, 'gallery')}}">
                        <img src="{{ asset('images/slika_46.jpg') }}" alt="photo">
                    </a>
                </div>
            </div>
            <div class="col-sm-3 mb-2">
                <div class="img-wrapper">
                    <a href="{{ asset('images/slika_49.jpg') }}" target="_blank"
                       title="{{ 'img_title'|trans({}, 'gallery')}}">
                        <img src="{{ asset('images/slika_49.jpg') }}" alt="photo">
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
