<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block meta %}{% endblock %}

    <link rel="alternate" href="{{ app.request.schemeAndHttpHost }}" hreflang="hr"/>
    <link rel="alternate" href="{{ app.request.schemeAndHttpHost }}" hreflang="en-gb"/>
    <link rel="alternate" href="{{ app.request.schemeAndHttpHost }}" hreflang="it"/>
    <link rel="alternate" href="{{ app.request.schemeAndHttpHost }}" hreflang="de"/>

    <script src="https://kit.fontawesome.com/4bb6aa68af.js" crossorigin="anonymous"></script>

    <link rel="icon" href="{{ asset('icons/logo.png') }}">

    <link rel="stylesheet" href="{{ asset('css/base.css') }}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous">
    </script>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
    </style>

    <title>
        {% block title %}{% endblock %}
    </title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

{% include 'navigation/nav.html.twig' %}

{% include 'flash_messages/flash_messages.html.twig' %}

<body>
{% block body %}{% endblock %}
</body>

{% include 'footer/footer.html.twig' %}
</html>
